<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Paciente</h4>
          <form novalidate [formGroup]="pacienteCreateForm">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="idPaciente">
            </div>


            <div class="form-group row mb-4">

                <div class="col-md-12">
                  <label class="col-form-label">Cedula</label>
                  <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Nombres</label>
                  <input formControlName="nombres" type="text" class="form-control" placeholder="Nombres">
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Apellidos</label>
                  <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos">
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Sexo</label>
                  <select class="form-control" formControlName="sexo">
                    <option disabled selected>-- Seleccione el sexo --</option>
                    <option *ngFor="let sexo of sexoList" [value]="sexo">{{ sexo }}</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">telefono</label>
                  <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
                </div>

                <!-- Sexo -->
                <!-- <div class="col-md-6">
                  <mat-form-field style="width: 100%; padding-top: 20px;" class="full" appearance="fill">
                    <mat-select placeholder="-- Seleccione el sexo --" formControlName="sexo">
                        <mat-option *ngFor="let sexo of sexoList" [value]="sexo">{{ sexo }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->




                <div class="col-md-6">
                  <label class="col-form-label">Usuario</label>
                  <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario">
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Password</label>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password">
                </div>



            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.pacienteModel.idPaciente === undefined || this.pacienteModel.idPaciente === 0 else elseModificar" [disabled]="!pacienteCreateForm.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()" [disabled]="!pacienteCreateForm.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

