
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title text-center">Subir Foto del Medico</h4>
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">

              <div class="col-sm">
                <ul class="list-group text-dark">
                  <li class="list-group-item active">Cedula: {{ medicoModel.cedula }}</li>
                  <li class="list-group-item">Nombres: {{ medicoModel.nombres }}</li>
                  <li class="list-group-item">Apellidos: {{ medicoModel.apellidos }}</li>
                  <li class="list-group-item">Especialidad: {{ this.medicoModel.especialidad.nombre }}</li>
                  <li class="list-group-item">Dia: {{ medicoModel.horario.dias }}</li>
                  <li class="list-group-item">Hora Desde: {{ medicoModel.horario.hora_inicio }}</li>
                  <li class="list-group-item">Hora Hasta: {{ medicoModel.horario.hora_fin }}</li>
                </ul>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" (change)="seleccionarFoto($event)" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Seleccionar Imagen</label>
                  </div>
                  <div class="input-group-append">
                    <button  [disabled]="!fotoSeleccionada" type="button" class="btn btn-outline-secondary">Subir</button>
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                  </div>
                </div>


                <div *ngIf="progreso > 0" class="progress">
                  <div class="progress-bar" [ngStyle]="{width:progreso+'%'}" role="progressbar" aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                  </div>
                </div>
              </div>


              <div  class="col-sm">
                <img class="img-thumbnail rounded" src="http://localhost:8090/api/uploads/img/{{ medicoModel.fotoUrl }}" width="500"  height="500" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


