

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Practicum 2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/arquitectura/list-especialidad">Especialidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/arquitectura/list-medico">Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/arquitectura/list-paciente">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/arquitectura/list-citas">Citas</a>
        </li>

      </ul>

    </div>
    <div class="float-end">
      <button class="btn btn-outline-success" (click)="logout()" >SALIR</button>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4 text-center">UNIVERSIDAD TECNICA PARTICULAR DE LOJA</h1>
  <h2 class="display-4 text-center">PROYECTO PRACTICUM 2 </h2>
  <h4 class="display-4 text-center">ALUMNO: WAGNER PESANTEZ </h4>
</div>


