


<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title text-center">Lista de Salarios</h4>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-success" [routerLink]="['/add-edit-salary']">Agregar</a>
          <button class="btn btn-primary" [routerLink]="['/']">Menu</button>
          <hr />
          <input class="colorpicker-default form-control" type="text" (keyup)="Buscar($event.target.value)" placeholder="Buscar" />
          <hr />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado </th>
                <td mat-cell *matCellDef="let element"> {{element.employee.employeeName + ' ' + element.employee.employeeSurname}} </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
              </ng-container>

              <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                <td mat-cell *matCellDef="let element"> {{element.month}} </td>
              </ng-container>

              <ng-container matColumnDef="productionBonus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductionBonus </th>
                <td mat-cell *matCellDef="let element"> {{element.productionBonus}} </td>
              </ng-container>

              <ng-container matColumnDef="compensationBonus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CompensationBonus </th>
                <td mat-cell *matCellDef="let element"> {{element.compensationBonus}} </td>
              </ng-container>

              <ng-container matColumnDef="commission">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Commission </th>
                <td mat-cell *matCellDef="let element"> {{element.commission}} </td>
              </ng-container>

              <ng-container matColumnDef="contribution">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contribution </th>
                <td mat-cell *matCellDef="let element"> {{element.contribution}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element" style='width:20px'>
                  <mat-icon style="cursor: pointer;" matTooltip="Modificar" color="primary" [routerLink]="['/add-edit-salary', element.id]">
                    edit</mat-icon>
                  <mat-icon style="cursor: pointer;" matTooltip="Eliminar" color="warn" (click)="Eliminar(element)">delete</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.filteredData.length <= 0 && isLoading === false;">
              <div style="text-align: center; border-bottom: 1px solid #555b6d">
                sin datos a mostrar..
              </div>
            </div>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-bar color="primary" mode="query" value='40'>
              </mat-progress-bar>
            </mat-card>
            <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
