<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title text-center">Lista de Medicos</h4>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-success" [routerLink]="['/arquitectura/add-edit-citas']">Agregar</a>
          <button class="btn btn-primary" [routerLink]="['/arquitectura/inicio']">Menu</button>
          <hr />
          <input class="colorpicker-default form-control" type="text" (keyup)="Buscar($event.target.value)" placeholder="Buscar" />
          <hr />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="id_cita">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id_cita}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_cita">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Cita Asignada </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_cita | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="hora_cita">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Cita Asignada </th>
                <td mat-cell *matCellDef="let element"> {{element.hora_cita}} </td>
              </ng-container>

              <ng-container matColumnDef="id_medico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Medico Asignado </th>
                <td mat-cell *matCellDef="let element"> {{element.medico.nombres + ' ' + element.medico.apellidos}} </td>
              </ng-container>

              <ng-container matColumnDef="id_paciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
                <td mat-cell *matCellDef="let element"> {{element.paciente.nombres + ' ' + element.paciente.apellidos}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element" style='width:20px'>
                  <mat-icon style="cursor: pointer;" matTooltip="Modificar" color="primary" [routerLink]="['/arquitectura/add-edit-citas', element.id_cita]">
                    edit</mat-icon>
                    <!-- <mat-icon style="cursor: pointer;" matTooltip="Foto" color="primary" [routerLink]="['/detalle-foto', element.idMedico]">
                      camera</mat-icon> -->
                  <mat-icon style="cursor: pointer;" matTooltip="Eliminar" color="warn" (click)="Eliminar(element)">delete</mat-icon>
                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.filteredData.length <= 0 && isLoading === false;">
              <div style="text-align: center; border-bottom: 1px solid #555b6d">
                sin datos a mostrar..
              </div>
            </div>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-bar color="primary" mode="query" value='40'>
              </mat-progress-bar>
            </mat-card>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

