<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Medico</h4>
          <form novalidate [formGroup]="medicoCreateForm">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="idMedico">
            </div>


            <div class="form-group row mb-4">

                <div class="col-md-4">
                  <label class="col-form-label">Cedula</label>
                  <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Nombres</label>
                  <input formControlName="nombres" type="text" class="form-control" placeholder="Nombres">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Apellidos</label>
                  <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos">
                </div>



                <div class="col-md-6 pt-2">
                  <label class="col-form-label col-lg-2">Especialidad</label>
                  <select formControlName="especialidad" [value]="especialidadSeleccionada" class="form-control" required>
                    <option value="" disabled selected>-- Seleccione la Especialidad --</option>
                    <option *ngFor="let item of especialidadArray" [value]="item">
                      {{item.nombre}}
                    </option>
                  </select>
                </div>


                <div class="col-md-6 pt-2">
                  <label class="col-form-label col-lg-2">Horario</label>
                  <select formControlName="horario" class="form-control" required>
                    <option value="" disabled selected>-- Seleccione el Dia --</option>
                    <option *ngFor="let item of horarioArray" [value]="item">
                      {{item.dias}} DESDE {{ item.hora_inicio }} HASTA {{ item.hora_fin }}
                    </option>
                  </select>
                </div>

            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.medicoModel.idMedico === undefined || this.medicoModel.idMedico === 0 else elseModificar" [disabled]="!medicoCreateForm.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!medicoCreateForm.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->


