<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Cita</h4>
          <form novalidate [formGroup]="createCitaMedicaForm">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="id_cita">
            </div>

            <div class="form-group row mb-4">

              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <input formControlName="fecha_cita" matInput [matDatepicker]="picker1" placeholder="Fecha de la Cita" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              </div>

              <div class="col-md-6 p-1">
                <mat-form-field class="w-full" style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione la Hora --" formControlName="hora_cita">
                      <mat-option *ngFor="let hora of horaCita" [value]="hora">{{ hora }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione el Medico --" formControlName="medico">
                      <mat-option *ngFor="let item of medicoArray" [value]="item">
                          {{item.nombres + ' ' + item.apellidos}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6 p-1">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-select placeholder="-- Seleccione el Paciente --" formControlName="paciente">
                      <mat-option *ngFor="let item of pacienteArray" [value]="item">
                          {{item.nombres + ' ' + item.apellidos}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>




            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.citaModel.id_cita === undefined || this.citaModel.id_cita === 0 else elseModificar" [disabled]="!createCitaMedicaForm.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!createCitaMedicaForm.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
