<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Empleados-Salarios</h4>

          <form novalidate [formGroup]="formGroupEmployeeSalary">

            <div class="container-fluid">
              <div class="form-row">
                <div class="col-4">
                  <input type="text" formControlName="employeeName" class="form-control" placeholder="Ingrese los nombres del empleado">
                </div>

                <div class="col-4">
                  <input type="text" formControlName="employeeSurname" class="form-control" placeholder="Ingrese los apellidos del empleado">
                </div>
                <div class="col-1">
                  <button class="btn btn-primary" (click)="BuscarEmpleadoByNombre()">Buscar</button>
                </div>
              </div>
              <hr>
            </div>



            <div class="card border border-success" *ngIf="this.salaryModel.id > 0">
              <div class="card-header bg-transparent border-success">
                <h5 class="my-0 text-success"><i class="mdi mdi-check-all mr-3"></i>Datos del Empleado</h5>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Identification</h5>
                        <p class="card-text">{{ this.salaryModel.identificationNumber }}</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">

                        <h5 class="card-title">Employee Code</h5>
                        <p class="card-text">{{ this.salaryModel.employeeCode }}</p>

                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">

                        <h5 class="card-title">Employee Name</h5>
                        <p class="card-text">{{ this.salaryModel.employeeName }}</p>

                      </div>
                    </div>
                  </div>



                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">

                        <h5 class="card-title">Employee Surname</h5>
                        <p class="card-text">{{ this.salaryModel.employeeSurname }}</p>

                      </div>
                    </div>
                  </div>


                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Office</h5>
                        <p class="card-text">{{ this.salaryModel.office.name }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Division</h5>
                        <p class="card-text">{{ this.salaryModel.division.name }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Position</h5>
                        <p class="card-text">{{ this.salaryModel.position.name }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Grade</h5>
                        <p class="card-text">{{ this.salaryModel.grade }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Fecha de Inicio</h5>
                        <p class="card-text">{{ this.salaryModel.begin }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Fecha de Nacimiento</h5>
                        <p class="card-text">{{ this.salaryModel.birthday }}</p>
                      </div>
                    </div>
                  </div>
<!--
                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Year</h5>
                        <p class="card-text">{{ this.salaryModel.year }}</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Month</h5>
                        <p class="card-text">{{ this.salaryModel.month }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Base Salary</h5>
                        <p class="card-text">{{ this.salaryModel.baseSalary }}</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Commission</h5>
                        <p class="card-text">{{ this.salaryModel.commission }}</p>
                      </div>
                    </div>
                  </div>



                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Compesation Bonus</h5>
                        <p class="card-text">{{ this.salaryModel.compensationBonus }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Contribution</h5>
                        <p class="card-text">{{ this.salaryModel.contribution }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 p-1">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Production Bonus</h5>
                        <p class="card-text">{{ this.salaryModel.productionBonus }}</p>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <hr>


            <div class="form-group row mb-4">

              <div class="col-lg-12" formArrayName="ListaSalaries">

                <div class="" *ngFor="let group of ListaSalaryArray.controls; let i=index;" [formGroupName]="i">
                  <div class="col-md-12">

                    <div class="card border border-success">
                      <div class="card-header bg-transparent border-success">
                        <h5 class="my-0 text-success"><i class="mdi mdi-check-all mr-3"></i>Empleado - Salario</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">

                          <div class="col-md-1">
                            <label>Year</label>
                            <input id="year" type="text" formControlName="year" class="form-control">
                          </div>
                          <div class="col-md-1">
                            <label>Month</label>
                            <input id="month" type="text" formControlName="month" class="form-control">
                          </div>

                          <div class="col-md-2">
                            <label>B. Salary</label>
                            <input id="baseSalary" type="text" formControlName="baseSalary" class="form-control">
                          </div>

                          <div class="col-md-2">
                            <label>P. Bonus</label>
                            <input id="productionBonus" type="text" formControlName="productionBonus" class="form-control">
                          </div>

                          <div class="col-md-2">
                            <label>C. Bonus</label>
                            <input id="compensationBonus" type="text" formControlName="compensationBonus" class="form-control">
                          </div>

                          <div class="col-md-2">
                            <label>Commission</label>
                            <input id="commission" type="text" formControlName="commission" class="form-control">
                          </div>

                          <div class="col-md-1">
                            <label>Contribution</label>
                            <input type="text" formControlName="contribution" class="form-control">
                          </div>


                            <div class="col-md-1">
                              <label>OPCIONES</label>
                              <br>
                              <button type="button" class="btn btn-info m-1" [disabled]="ListaSalaryArray.length < 3? false : true" (click)="agregarListadoSalaries()"><i class="dripicons-plus"></i>+</button>
                              <button type="button" class="btn btn-info m-1" [disabled]="ListaSalaryArray.length === 1? true: false" (click)="removerListadoSalaries(i)"><i class="dripicons-minus"></i>-</button>
                            </div>
                        </div>
                        <hr>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card-body text-right">
                  <button (click)="Regresar()" type="button" class="btn btn-info btn-sm m-1">
                    <i class="bx bx-chevrons-left"></i>
                    Regresar</button>
                  <button type="button" (click)="Guardar()" class="btn btn-success btn-sm m-1"><i class="dripicons-document-remove"></i>
                    Guardar</button>
                </div>
              </div>

            </div>

            <!-- <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="Guardar()" *ngIf="this.employeeModel.id === undefined || this.employeeModel.id === 0 else elseModificar" [disabled]="!formGroupEmployee.valid"><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!formGroupEmployee.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="Regresar()" class="btn btn-info btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Regresar</button>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

