<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Formulario Agregar Medico</h4>

            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="idMedico">
            </div>


            <div class="form-group row mb-4">

                <div class="col-md-4">
                  <label class="col-form-label">Cedula</label>
                  <input type="text" class="form-control" placeholder="Cedula" [(ngModel)]="this.medico.cedula">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Nombres</label>
                  <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="this.medico.nombres">
                </div>

                <div class="col-md-4">
                  <label class="col-form-label">Apellidos</label>
                  <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="this.medico.apellidos">
                </div>



                <!-- <div class="col-md-6 pt-2">
                  <label class="col-form-label">Especialidad</label>
                  <select formControlName="idEspecialidad" class="form-control" required>
                    <option value="" disabled selected>-- Seleccione la Especialidad --</option>
                    <option *ngFor="let item of especialidadArray" [value]="item.idEspecialidad">
                      {{item.nombre}}
                    </option>
                  </select>
                </div>


                <div class="col-md-6 pt-2">
                  <label class="col-form-label">Horario</label>
                  <select formControlName="idHorario" class="form-control" required>
                    <option value="" disabled selected>-- Seleccione el Dia --</option>
                    <option *ngFor="let item of horarioArray" [value]="item.idHorario">
                      {{item.dias}} DESDE {{ item.hora_inicio }} HASTA {{ item.hora_fin }}
                    </option>
                  </select>
                </div> -->

            </div>

            <div class="row justify-content-end text-right">
              <div class="col-lg-10">
                <button class="btn btn-success btn-sm m-1" (click)="operar()" *ngIf="this.medico !== null && this.medico.idMedico > 0" ><i class="fa fa-plus"></i>Agregar</button>

                <ng-template #elseModificar>
                  <button class="btn btn-success btn-sm m-1" (click)="Modificar()"
                    [disabled]="!medicoCreateForm.valid"><i class="fa fa-plus"></i>Modificar</button>
                </ng-template>

                <button type="button" (click)="cerrar()" class="btn btn-danger btn-sm m-1">
                  <i class="bx bx-chevrons-left"></i>
                  Cancelar</button>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->


